.navbarend{
    display: flex;
    align-items: center;
    gap: 20px;
}
.contactsupporticon,.settingsicon,.geminiicon,.appmenuicon{
    font-size: 400px;
    padding: 5px;
    cursor: pointer;
}
.contactsupporticon:hover,.settingsicon:hover,.geminiicon:hover,.appmenuicon:hover{
    background-color: rgb(201, 201, 202);
    border-radius: 50%;
}
.google-apps{
    overflow-x: hidden;
    overflow-y: auto;
    height: 400px;
}
