.searchbar{
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    /* box-shadow: inset 0 1px 3px 0 rgba(60, 64, 67, 0.2); */
    height: 50px;
    border-radius: 20px;
    min-width: 45%;
    max-width: 50%;
    /* -webkit-box-flex: 1; */
    /* flex: 1 1 auto; */
    background-color: #E9EEF6;
    padding: 0px 4px;

}
.search-input{
    background: none;
    color: inherit;
    width: 90%;
    border: none;
    outline: none;
}
.search-container{
    display: flex;
    align-items: center;
    border-style: dashed;
    
}
.search-icon,.tool-icon{
   padding: 5px;
   cursor: pointer;
}

.tool-icon:hover, .search-icon:hover{
    background-color: rgb(201, 201, 202);
    border-radius: 50%;
    
}