.searchbar{
    display: inline-flex;
    align-items: center;
    height: 50px;
    border-radius: 20px;
    min-width: 40%;
    background-color: #E9EEF6;
    padding: 2px 4px;
}
.searchbar.active {
  background: white;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}
.search-input{
    background: none;
    color: inherit;
    width: 90%;
    border: none;
    outline: none;
    font-size: 20px;
}
.search-container{
    display: flex;
    align-items: center;
    border-style: dashed;
    
}
.search-icon,.tool-icon{
   padding: 5px;
   cursor: pointer;
}

.tool-icon:hover, .search-icon:hover{
    background-color: rgb(201, 201, 202);
    border-radius: 50%;
    
}
.form-tool {
  position: absolute; 
  top: 55px; 
  width: 680px;
  z-index: 1000;       
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  
}
/* .dropdown {
  position: absolute;
  top: 55px;
  left: 0;
  width: 600px;
  min-width: 40%;
  background: #fff;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0px 3px 12px rgba(0,0,0,0.15);
  z-index: 10;
}
.filters {
  display: flex;
  gap: 12px;
  margin-bottom: 15px;
}
.chip {
  padding: 6px 12px;
  border-radius: 20px;
  border: 1px solid #ccc;
  background: #fafafa;
  cursor: pointer;
  font-size: 14px;
}

.recent-item {
  padding: 8px 0;
  font-size: 15px;
  display: flex;
  gap: 10px;
  cursor: pointer;
} */