.rightside-menu{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: rgba(253, 253, 253, 0.36);
    width: 50px;
}
.top{
    flex:1;
    padding: 22px 0;
}
.calender-icon,.keep-icon,.tasks-icon,.contacts-icon,.add-icon{
    width: 20px;
    height: 20px;
    padding: 10px;
    
}
.calender-icon:hover, .keep-icon:hover, .tasks-icon:hover, .contacts-icon:hover, .add-icon:hover{
    background-color: rgba(157, 157, 157, 0.36);
    border-radius: 50%;
    
}
.bottom{
    cursor: pointer;
    padding: 12px;
}
.bottom:hover{
    background-color: rgb(233, 232, 232);
    border-radius: 50%;
    width: fit-content;
}
