.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    padding: 0px 10px;
   
}
.gmailmenu{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px 0px 0px 13px;
}
#menuicon{
    padding: 6px;
    cursor: pointer;
}
#menuicon:hover{
    background-color: rgb(201, 201, 202);
    border-radius: 50%;
    
}